.fullwrapper{
    width:100vw;
    
}
.wrapper{
    width:100%;
    min-height:500px;
    position: relative;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 587px;
    // position: relative;
    display: flex;
}
.containerLeft{
    width: 18%;
    height: 100%;
    position: absolute;
    background: #212330;
    z-index: 5;
    top: 0;
}
.containerRight{

    flex: 1;
    padding-left: 18%;
    background-color: #cccccc14;
    overflow-x: auto;
}
.logo{
    height: 63px;
    text-align: center;
    margin: 0 31px 16px;
}
.logo1{
    height: 63px;
}