.Wrapper{
    width: 100%;
    // height: 100%;
    position: relative;
}

.Container{
    min-height: 84%;
    width: 91%;
    background-color: #fff;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}
.header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cccccc42;
    padding: 10px;
}
.NameHeader{
    text-transform: uppercase;
    font-weight: 600;
}
.btnHeader{
    width: 120px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4BCB73;

    &:hover{
        opacity: 0.9;
    }
}
.btnIconAdd{
  color:#fff !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.IconAdd{
    padding: 2px;
    margin: 2px;
}

.headerContent{
    width: 100%;
    height: 55px;
      display: flex;
    align-items: center;
}
.leftContent{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.dropdown{
    margin: 0 15px;
    width: 55px;

    &:focus-visible{
        outline: none;
    }
}
.rightContent{
    flex: 1;
    display: flex;
    align-items: center;
}
.searchname{
    font-size: 16px;
    padding: 10px;
    margin: 0;
}
.search{
    width: 211px;
    height: 35px;
    border: 1px solid #ccc;
    display: flex;
    padding: 3px 14px;
    border-radius: 7px;
}
.content{
    min-height: 300px;
    padding: 0px 6px 0px 6px;
    margin: 5px 2px 0px;
}
tr:hover {
    background: none !important;
  }
.icon{
    font-size: 20px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
    &:hover{
        color:#ff2605;
    }
}
.footer{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-top: -6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titlefooter{
    font-size: 16px;
}
.btnFooter{
    display: flex;
    align-items: center;
}
.number{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cccccc30;
    margin: 0 15px;
}
.link{
    &:hover{
        color: #ff2605;
    }
}