.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}
.container{
    width: 100%;
    height: 100%;
}

.content{
    margin-top: -7px;
    background-color: #f9f5f0;
}

@media screen and (max-width: 740px) {
    .content{
        width: 73%;
    }
}


