.wrapper{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    background-color: #000c;
}
.container{
    position: fixed;
    top: 16%;
    right: 36%;
    width: 30%;
    min-height: 440px;
    display: flex;
    border-radius: 20px;
    background-color: #ccc;
}
.content{
    width: 100%;
    padding: 21px;
}
.btn{
    width: 16px;
    height: 16px;
    margin-left: 94%;
    margin-bottom: 4px;
    color: #000;
    background: url('../../../assets/images/download.svg') center no-repeat;
    cursor: pointer;

}
.conntent-item{
    display: flex;
    height: 100px;
    border-bottom: 1px solid rgba(104,44,14,.3);
}
.logo{
    width: 22%;
    height: 80%;
}
.content-title{
    flex: 1;
    padding: 0 30px;
}
.content-name{
    font-weight: 500;
    font-size: 30px;
    color: #682c0e;
    text-transform: capitalize;
}
.content-price{
    font-size: 24px;
    color: #c24914;
    font-weight: 500;
}
.content-header{
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    padding: 10px 0;
}
.content-check{
    min-height: 100px;
    border-bottom: 1px solid rgba(104,44,14,.3);
}
.form-group{
    margin-bottom: 10px;
}
.form-check{
    display: flex;
}
.form-check-input{
    margin-right: 10px;
}
.conntent-note{
    min-height: 50px;
    border-bottom: 1px solid rgba(104,44,14,.3);
}
.title{
    font-weight: 100;
    font-size: 12px;

}
.Icons{
    width: 35px;
    height: 35px;
    margin: 0 9px;
}
.content-input{
    font-weight: 400;
    font-size: 14px;
    padding: 4px 8px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #682c0e;
    background: #eee;
    margin-bottom: 15px;
}

.down-item{
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}
.plus,
.Minus{
    height: 40px;
    cursor: pointer;
    border-radius: 50%;

    &:hover{
     transform: scale(1.04);
    }
}

// .Icons{
//     &:hover{
//         background-color: #682c0e;
//     }
// }
.quantity{
    font-size: 32px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-down{
    display: flex;
    padding: 12px;
    width: 80%;
    margin-left: 40px;
    border-radius: 23px;
    background-color: #c24914;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;

    &:hover{
        background-color: #682c0e;
    }
}

@media screen and (max-width: 740px) {
    .container{
        position: fixed;
    top: 20%;
    right: auto;
    left: 13%;
    width: 73%;
    min-height: 440px;
    display: flex;
    border-radius: 20px;
    background-color: #ccc;
    }
    .conntent-item{
        height: 67px;
    }
    .down-item{
        padding: 10px;
    }
    .content-name{
        font-size: 19px;
    }
    .content-price{
        font-size: 17px;
    }
    .form-group{
        font-size: 13px;
    }
    .quantity{
        margin: 0 14px;
    font-size: 24px;
    display: flex;
    width: 20px;
    justify-content: center;
    }
    .btn-down{
        font-size: 11px;
        margin: 0 26px;
    }
}