.wrapper{
    width:100%;
   height:100%;
    // background-image: url("../../../../assets/images/banner-logo-2.png");
    // background-size: cover;
}
.container{
   width:100%;
   min-height: 945px;
   background-image: url("../../../../assets/images/hinh-anh-ly-ca-phe-ban-me-hap-dan.jpg");
   background-size: cover;
   position: relative;
}
.content{
    width: 40%;
    min-height: 46%;
    position: absolute;
    background: rgb(251 250 250 / 39%);;
    top: 20%;
    left: 31%;
    border-radius: 15px;
   box-shadow: 1px 0px 21px 7px rgba(196, 196, 196, 0.34);
}
.headericon{
    display: flex;
    justify-content: flex-end;
}
.iconClose{
    font-size: 25px;
    padding: 5px;
    margin: 6px;
    display: flex;
    width: 45px;
    cursor: pointer;
}
.header{
   width: 100%;
   height: 70px;
   padding: 12px 20px 15px;
   font-size: 35px;
   display: flex;
   justify-content: center;
   font-weight: 600;
}
.Form{
   width: 90%;
   min-height: 165px;
   padding: 15px 30px;
    margin: 0 30px;
}
.Form1{
    width: 90%;
    min-height: 165px;
    padding: 15px 30px;
   //  border-bottom: 1px solid #696363;
     margin: 0 30px;
 }
.formItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.Name{
   font-size: 20px;
   width: 32%;
}
.input{
   width: 72%;
   height: 40px;
   /* border: 1px solid; */
//    margin-left: 10px;
   padding: 2px 10px;
   font-size: 16px;
   border-radius: 6px;
   border: none;
   box-shadow: 1px 1px 9px 1px rgba(196,196,196,0.34 );
   &:focus-visible{
    outline:none;
   }
}

.input1{
   width: 72%;
   height: 40px;
   margin-left: 15px;
   padding: 2px 10px;
   font-size: 16px;
   border-radius: 6px;
   box-shadow: 1px 1px 9px 1px rgba(196,196,196,0.34 );
}
.submit{
   display: flex;
   justify-content: center;
   margin: 25px 12px 20px 18px;
}
.btn{
   width: 35%;
   height: 50px;
   background: #ff4605;
   border-radius: 10px;
   display: flex;
   justify-content: center;
  
}
.btnLogin{
   width: 100%;
   height:100%;
   background: none;
   font-size: 18px;
   color:#fff;
   cursor: pointer;
}

.register{
   width: 100%;
   height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid #ccc;
}
.linkRegister{
   font-size: 16px;
   font-weight: 600;
   &:hover{
    color: #ff4605 !important;
    text-decoration: revert !important;
   }
}
@media (max-width:740px){
   .content{
    width: 90%;
    left: 5%;
   } ;
   .formItem{
    margin-bottom: 40px;
    flex-direction: column;
   }
   .Name{
    width: 242px;
   }
   .btn{
    width: 100%;
   }
   .linkRegister{
    font-size: 13px;
    color: #ff4605  !important;
   }
}