.wraper{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    height: 90px;
    background-color: transparent;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 9%;
    justify-content: space-between;
}
.container1{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 9%;
    justify-content: space-between;
    background-color: #d2b780;
    // background-color: ' #000c'
}
.TippyWrapper{
    width:350px;
    min-height:190px;
    background-color: #682c0e;
    display: block;
    margin-left: 5%;
}

.menuIcon{
    display: none;
}
.logo{
    // min-width: 5rem;
    // height: 5rem;
    min-width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
}
.ColorCartIcon{
    color: #fff !important;
    margin: 0px 15px 0px 0px;
    cursor: pointer;
    padding: 5px;
    background: none;
}
.ColorLoginIcon{
    color: #fff !important;
    // margin: 0px 15px 0px 0px;
    cursor: pointer;
    padding: 5px;

    &:hover{
        color: #c24914!important;
    }
}
.content{
    width: 100%;
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // background-color: #000c;
    // height: 800px;
    // z-index: 12;
    // display: none;
}
.cart{
    width: 100%;
    height: 100%;
    padding: 20px;
    // margin-left: 70%;
    background-color: #fff;
}
.header-cart{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.text-header{
    font-size: 16px;
    color: #c24914;
    text-transform: uppercase;
    // padding-left: 60px;
}
.btn{
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
    color: #000;
    background: url('../../../assets/images/download.svg') center no-repeat;
    cursor: pointer;

}
.content-cart{
    height: 338px;
    padding: 20px 0;
    // text-align: center;
    overflow: auto;
}
.content-header{
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.2;
}
.btnMenu{
    padding: 10px 25px;
    border-radius: 20px !important;
    border-color: #c24914 !important;
    background-color: #c24914 !important;
    color: #fff !important;
    transition: ease-out 0.5s;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    
    &:hover{
        color: #fff !important;
    border-color: #682c0e !important;
    background-color: #682c0e !important;
    box-shadow: 0 4px 4px #00000040;
    transform: translateY(-8px);
    }
}


//
// .content-cart{
//     min-height: 230px;
//     padding: 20px 0;
//     text-align: center;
// }
.content-cart-item{
    display: block;
    min-height: 70px;
    // border-bottom: 1px solid rgba(104,44,14,.3);

}
.content-cart-item1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(104,44,14,.3);
    border-top: 1px solid rgba(104,44,14,.3);
}
.content-cart-item2{
    display: flex;
    justify-content:  flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(104,44,14,.3);
    border-top: 1px solid rgba(104,44,14,.3);
}
.cart-item{
    display: flex;
    min-height: 80px;
}
.logo-cart{
    width: 22%;
    height: 72px;
}
.cart-title{
    flex: 1;
    padding: 0 15px;
}
.cart-name{
    font-weight: 500;
    font-size: 21px;
    color: #682c0e;
    text-transform: capitalize;
    display: flex;
}
.cart-size{
    font-size: 17px;
    color:  #682c0e;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.edit{
    padding: 0 0 0 5px;
    cursor: pointer;

    &:hover{
        color: #c24914
    }
}
.delete{
    padding: 0 12px;
    cursor: pointer;

    &:hover{
        color: #c24914
    }
}
.add{
    display: flex;
    cursor: pointer;
    padding-bottom: 5px;
    color: #c24914 !important;

    &:hover{
        color: #682c0e !important;
    }
}
.cart-price{
    padding: 0 0 0 50px;
}
.price{
    display: flex;
    align-items: center;
}
.content-title{
    padding: 25px;
}
.sizeCart{
    display: flex;
    width: 120px;
}
.pprice{
    font-size: 22px;
    margin-bottom: 16px;
}


@media (max-width:740px){
    .container{
        width: 100%;
        // padding: 0px 0 0px 8%;
        // margin: 10px 0;
    }
    .container1{
        height: 100px;   
       
    }
    // .menu{
    //     padding-right: 10%;
    // }
    .email{
        display: none;
    }
    .menuIcon{
        padding-right: 15%;
        display: block;
    }
    .logo{
        margin-right: 0;
    }
    .ColorCartIcon{
        margin: 0px 3px 0px 0px;
    }
}

@media screen and (max-width:740px) {
    .cart{
        height: 52%;
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
    .logo-cart{
        height: 55px;
    }
    .cart-item{
        min-height: 62px;
    }
    .cart-name{
        font-size: 17px;
    }
    .cart-size{
        font-size: 12px;
    }
    .cart-price{
        padding: 0 0 0 10px;
        width: 73px;
    }
    .price{
        font-size: 11px;
    }
    .content-title{
        padding: 20px 5px;
        width: 110px;
    }
    .pprice{
        font-size: 19px;
      
    }
    // .ant{
    //     padding: 20px 10px;
    // }
}