.wrapper {
    position: relative;
    width: 100%;
    min-height: 300px;
}

.container {
    width: 100%;
    height: 100%;
}
.header {
    // color: #000000e6;
    padding: 15px 0px;
    font-size: 5rem;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 600;
}
.lineborder {
    display: flex;
    justify-content: center;
}
.Menu{
    width: 91%;
    margin: 25px auto;
    display: flex;
    overflow: hidden;
    -webkit-animation: FeaturedMenu_FeaturedMenu_menu-content-14s__rjWJ3__KYQ81 ease infinite;
    flex-wrap: wrap;
    gap: 2.7%;
    // justify-content: center;
}
.Menu::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
.btn {
    display: flex;
    justify-content: center;
}
.btnMenu{
    border-radius: 35px !important;
    border-color: #c24914 !important;
    background-color: #c24914 !important;
    color: #fff !important;
    transition: ease-out 0.5s;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

    &:hover{
        color: #fff !important;
    border-color: #682c0e !important;
    background-color: #682c0e !important;
    box-shadow: 0 4px 4px #00000040;
    transform: translateY(-8px);
    }
}
.btn{
    padding-top: 30px;
}
.btn-prev{
    position: absolute;
    top: 45%;
    height: 162px;
    padding: 30px 0;
    left: 10%;
    background: none;
    color: #fff !important;
    font-size: 42px;
    z-index: 18;
    cursor: pointer;
}
.btn-next{
    position: absolute;
    top: 45%;
    height: 162px;
    padding: 30px 0;
    right: 10%;
    background: none;
    color: #fff !important;
    z-index: 18;
    cursor: pointer;
}
.rigister{
    margin-top: 30px;
    min-height: 150px;
    width: 100%;
    background: url(../../../assets/images/bg-112.jpeg) no-repeat center;
    background-size: cover;
    padding: 0 48px;
}
.loading{
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 24px;
}
// .ant-space-item .content {
//     color: red;
//   }
  
//   /* Tùy chỉnh màu biểu tượng (icon) trong Space component */
//   .ant-space-item .icon {
//     color: blue;
//   }

@media (max-width:740px){
    .wrapper{
        position: unset;
    }
    .header{
        font-size: 3rem;
       line-height: 6px;
    }
    .Menu{
        margin-top: 12px;
     margin-left: 3px;
     width: 100%;
    }
    .btn-next{
        display: none;
    }
    .btn-prev{
        display: none;
    }
    .btnMenu{
        font-size: 13px;
    height: 30px;
    }
    
.rigister {
    padding: 0;
}
}